@charset "utf-8";

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: normal;
  font: inherit;
  /* vertical-align: baseline; */
  background: transparent;
  word-break: break-word;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, button, textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0;
    font-family:  'Raleway', sans-serif;
    font-weight: normal;
    line-height: normal;
    color: #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}
  
button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0 10px;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
}

input[type="text"]:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus {
    border-bottom: 1px solid #fff;
}


input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6); 
}
/* reset 끝 */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
}

.hidden {
    display: none!important;
}

.wrap {
    width: 100%;
    height: 100vh;
}

.wrap .afterLogin .time {
    width: 100%;
    padding-top: 60px;
    padding-right: 150px;
}

.wrap .afterLogin .time .clock {
    margin: 0;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: right;
}

.wrap .afterLogin .time .date {
    margin: 0;
    padding-top: 28px;
    font-size: 30px;
    text-align: right;
}

.wrap .afterLogin .greeting{
    margin: 100px 0 80px;
    padding-left: 150px;
}

.wrap .afterLogin .greeting .name {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
}

.wrap .afterLogin .greeting .suggestion {
    font-size: 24px;
    padding-top: 28px;
}

.wrap .afterLogin .weather {
    text-align: right;
    padding-right: 160px;
    height: 27px;
}

.wrap .afterLogin .todo-wrap {
    width: calc(100% - 300px);
    height: 240px;
    margin: 16px 150px 0;
    padding: 20px 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
}

.wrap .afterLogin .todo-wrap .todo-list {
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wrap .afterLogin .todo-wrap .todo-list li {
    height: calc(20%);
    font-size: 18px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
}

.wrap .afterLogin .todo-wrap .todo-list li button {
    width: 18px;
    height: 18px;
    background: url(../img/box.png) no-repeat;
    background-size: 18px 18px;
    margin-right: 8px;
}

.wrap .afterLogin .todo-wrap .todo-list li:hover button {
    background: url(../img/done.png) no-repeat;
    background-size: 18px 18px;
}

.wrap .afterLogin .todo-wrap .todo-add {
    width: 250px;
}

.wrap .afterLogin .todo-wrap .todo-add button {
    font-size: 16px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 8px 12px;
    margin-left: auto;
    border-radius: 20px;
    border: 1px solid #fff;
    opacity: 0.6;
}

.wrap .afterLogin .todo-wrap .todo-add button span:nth-child(1) {
    width: 18px;
    height: 18px;
    background: url(../img/plus_wh.png) no-repeat;
    background-size: 18px 18px;
}

.wrap .afterLogin .todo-wrap .todo-add button span:nth-child(2) {
    padding-left: 8px;
}

.wrap .afterLogin .todo-wrap .todo-add button:hover {
    background-color: #fff;
    color: #333;
}

.wrap .afterLogin .todo-wrap .todo-add button:hover span:nth-child(1) {
    background: url(../img/plus_bk.png);
    background-size: 18px 18px;
}

.wrap .afterLogin .afterLogin .todo-wrap .todo-add button:hover span:nth-child(2) {
    font-weight: 500;
}

.wrap .afterLogin .todo-wrap .todo-add input {
    width: 100%;
    height: 40px;
    margin-top: 12px;
    font-size: 16px;
    padding: 0 10px;
}

.wrap .afterLogin .todo-wrap .todo-add input:focus {
    text-align: right;
}

.wrap .afterLogin .todo-wrap .todo-add input::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
}

.wrap .afterLogin .quoteWrap {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
}

.wrap .afterLogin .quoteWrap p {
    text-align: center;
}

.wrap .afterLogin .quoteWrap .quote {
    font-size: 15px;
}

.wrap .afterLogin .quoteWrap .author {
    font-size: 13px;
    font-style: italic;
    margin-top: 5px;
}

.wrap .loginWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap .loginWrap .login-form h3 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.wrap .loginWrap .login-form input[type="text"] {
    font-size: 36px;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.wrap .loginWrap .login-form input[type="text"]:hover {
    border-bottom: 1px solid #fff;
}

.wrap .loginWrap .login-form input[type="text"]:focus {
    caret-color: #fff;
    font-size: 36px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

/* animation */
.fadeIn {
    animation: fade-in 2s ease forwards;
}

.fadeOut {
    animation: fade-out 2s ease forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}